<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/Users/Hanifa_Bell/Desktop/finalTests</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>/usr/local/bin/jmeter -p /usr/local/bin/jmeter.properties -n -t /Users/Hanifa_Bell/Desktop/finalTests/HTTPwsmsxTestCases.jmx -l /Users/Hanifa_Bell/Desktop/finalTests/WSMSX.jtl</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.visualizer.JVisualizerPublisher>
      <nthBuildNumber>0</nthBuildNumber>
      <compareBuildPrevious>false</compareBuildPrevious>
    </hudson.plugins.visualizer.JVisualizerPublisher>
  </publishers>
  <buildWrappers/>
</project>